// theme colors
$white: #fff;
$black: #0a083a;
$blue: #315bff;
$green: #02be83;
$pink: #ff3c78;
$orange: #fe7831;

$clr-text-grey: #6c6b6b;

$grey-500: #888787;
$grey-400: #a4a4a3;
$grey-300: #c1c0c0;
$grey-200: #ebebea;
$grey-100: #f5f5f5;

$linear-orange: linear-gradient(270deg, $orange 0%, #ffdebe 100%);
$linear-green: linear-gradient(270deg, $green 0%, #b3f6dc 100%);
$linear-pink: linear-gradient(270deg, $pink 2.8%, #ffb2b2 100%);
$linear-blue: linear-gradient(97.49deg, #8aa8f8 -0.43%, $blue 144.53%);

$bg-shadow: #c4c4c4;

$box-shadow-primary: 0px 40px 80px rgba(138, 168, 248, 0.25);
$box-shadow-secondary: 0px 25px 50px rgba(23, 44, 130, 0.4);
$backdrop-filter: blur(27.9549px);

// typhography (16px)
$base-font: 1rem;

$hero-title: $base-font * 4.5; // 72px
$fs-h1: $base-font * 3.5; // 56px
$fs-h2: $base-font * 3; // 48px
$fs-h3: $base-font * 2.5; // 40px
$fs-h4: $base-font * 2; // 32px
$fs-h5: $base-font * 1.5; // 24px

$fs-body-xxl: $base-font * 1.25; // 20px
$fs-body-large: $base-font * 1.125; // 18px
$fs-body-small: $base-font * 0.875; // 14px

// light-height
$base-light-height: 1.6;
$base-light-height-small: 1.5;

// base margin padding (8px)
$base-padding: 0.5rem;
$base-margin: 0.5rem;

$padding-btn-tb: $base-padding + 0.25; // 12px
$padding-btn-rl: $base-padding * 6.25; //50px

// border radius
$border-radius: 0.25rem; // 4px
$border-radius-full: 6.25rem; // 100px

//  font weight
$fw-bold: 700;
$fw-semibold: 600;
$fw-medium: 500;

//  font familly
$font-family: "Work Sans", sans-serif;
